{
    "plugins": [
        "prettier-plugin-go-template",
        "prettier-plugin-tailwindcss",
    ],
    "overrides": [
        {
            "files": ["html/template/*.html"],
            "options": {
                "parser": "go-template",
            },
        },
    ],
}
