<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>hehe</title>
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/htmx.min.js"></script>
  </head>

  <body
    class="bg-linear-to-br m-auto max-w-max from-amber-200 to-teal-300 bg-fixed"
  >
    <header class="flex justify-between">
      <h1 class="text-3xl font-bold">Consensus</h1>
      <div class="flex flex-col items-end">
        <!-- TODO: Put as reusable template -->
        <span class="inline-flex items-baseline">
          <img
            class="mx-1 size-5 self-center rounded-full"
            src="https://github.com/{{ .User.Name }}.png?size=20"
          />
          <span class="font-bold">{{ .User.Name }}</span>
        </span>
        <a href="/oauth2/sign_out">
          <button
            class="curser-pointer cursor-pointer rounded bg-red-400 px-1 text-white hover:bg-red-500"
          >
            Logout
          </button>
        </a>
      </div>
    </header>

    <main>
      <table
        class="w-full border-separate border-spacing-y-1 border border-transparent"
      >
        <thead>
          <tr class="bg-emerald-400">
            <th>Ticket</th>
            <th>Reporter</th>
            <th>Point Select</th>
            <th>Voters</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tickets">
          {{ range .Tickets }}
            {{ if not .Revealed }}
              {{ template "ticket-row.html" dict "Ticket" . "User" $.User "AllUsers" $.AllUsers }}
            {{ end }}
          {{ end }}
        </tbody>
      </table>

      {{ template "new-input.html" }}


      <a href="/revealed">
        <button
          class="cursor-pointer rounded bg-amber-100 px-1 hover:bg-amber-300"
        >
          View Revealed Only
        </button>
      </a>
      <table
        class="w-full border-separate border-spacing-y-1 border border-transparent"
        hx-trigger="newRevealed from:body"
        hx-get="/revealed"
        hx-target="#reveal"
      >
        <thead>
          <tr class="bg-emerald-400">
            <th>Ticket</th>
            <th>Reporter</th>
            <th>Voters</th>
            <th>Avg</th>
            <th>Mode</th>
          </tr>
        </thead>
        <tbody id="reveal">
          {{ range .Tickets }}
            {{ if .Revealed }}
              {{ template "revealed-row.html" dict "Ticket" . "User" $.User }}
            {{ end }}
          {{ end }}
        </tbody>
      </table>
    </main>
    <footer class="h-[25vh]"></footer>
  </body>
</html>
